// Fonts
$font-family-body = "Noto Sans TC", sans-serif
$font-family-mono = "Inconsolata", monospace;
$font-family-tt = "Inconsolata"
$font-size = 18px
$line-height = 1.725
$page-width = 0rem + (hexo-config("page_width") || 39)
// Logo
$logo-width = 0px + (hexo-config("logo.width") || 0)
$logo-height = 0px + (hexo-config("logo.height") || 0)
// Colors
$colors = hexo-config("colorscheme") || "dark"
