<% if (site.tags.length) { %>
    <div class="tagcloud">
        <div class="tagcloud-title" style="text-align: center">
            <%- tagcloud({
                orderby: 'random',
                min_font: 18,
                max_font: 36,
                amount: 100,
                color: true,
                start_color: '#776363',
                end_color: '#d44375'
            }) %>
        </div>
    </div>
    <style>
        .tagcloud a {
            margin: 0 4px;
        }
        .tagcloud a:hover {
            border-bottom: 1px solid;
        }
    </style>
<% } %>